<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiza.leo.mybatis_baizhi02_complex.dao.CardDAO">

    <resultMap id="cardMap" type="com.tiza.leo.mybatis_baizhi02_complex.entity.Card">
        <id column="cardId" property="id" />
        <result column="no" property="no" />
        <result column="address" property="address" />
        <result column="fork" property="fork" />
        <association property="user" javaType="com.tiza.leo.mybatis_baizhi02_complex.entity.User">
            <id column="userId" property="id" />
            <result column="name" property="name"/>
            <result column="age" property="age"/>
            <result column="bir" property="bir" />
        </association>
    </resultMap>

    <select id="queryAll" resultMap="cardMap">
        select u.id userId,u.name,u.age,u.bir,
	       c.id cardId,c.no,c.fork,c.address
		from mybatis_baizhi_users u
		left join mybatis_baizhi_card c
		on  u.cardId = c.id
    </select>

</mapper>
